[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
pytest = "*"
flake8 = "*"
isort = "*"
selenium = "*"
factory-boy = "*"

[packages]
django = "*"
markdown = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-taggit = "*"
psycopg2 = "*"
django-cleanup = "*"

[requires]
python_version = "3.8.6"
