{% extends 'base.html'%}
{% load static %}


{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coding for Engineers</h1>
            <span class="subheading">A Programming-blog for Engineers</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in index_posts %}
        <div class="post-preview">
          <a href="{% url 'blog:post-detail' post.slug %}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">
                {{post.subtitle}}
              </h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author}}</a>
            on {{post.date_updated|date}}</p>
        </div>
        <hr>
        {% endfor %}
    
        <!-- Pager -->
        {% if index_posts.count > 5 %}
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>


  {% endblock content %}
