{% extends 'base.html'%}
{% load markdown_extras %}
{% load static %}


{% block custom_imports %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    renderMathInElement(document.body,
      {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "$", right: "$", display: false}
        ]
      }
    );
  });

  
</script>

{% endblock custom_imports %}


{% block content %}
  <!-- Page Header -->
  <header class="masthead mb-2" style="background-image: url({% static 'img/rnd-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <span class="meta"> {{post.date_updated|date}} by
              <a href="#">{{post.author}}</a>
              {% if date_created is not date_updated %}
              <br> Latest update: {{post.date_updated|date}} 
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="">
            {% for tag_name in post.tags.names %}
              <span class="badge badge-secondary">
                {{ tag_name }}
              </span>
            {% endfor %}
          </div>

          {{ post.content|markdown|safe }}

        </div>
      </div>
    </div>
  </article>

  
  {% endblock content %}
