{% extends 'base.html'%}
{% load markdown_extras %}
{% load static %}



{% block content %}
  <!-- Page Header -->
  <header class="masthead mb-2" style="background-image: url({% static 'img/rnd-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <span class="meta"> {{post.date_updated|date}} by
              <a href="#">{{post.author}}</a>
              {% if date_created is not date_updated %}
              <br> Latest update: {{post.date_updated|date}} 
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="">
            {% for tag_name in post.tags.names %}
              <span class="badge badge-secondary">
                {{ tag_name }}
              </span>
            {% endfor %}
          </div>
          {{post.content|markdown|safe}}

        </div>
      </div>
    </div>
  </article>

  
  {% endblock content %}
